# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.turbo/
out/
coverage/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# local media/storage
/storage/
/uploads/
/tmp/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
